/* FORM COLUMNS */
.form-row{
	min-height: 40px;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 10px 0;
}
.form-row:after {
    clear: both;
}

.form-row:before,.form-row:after {
    display: table;
    content: "";
    line-height: 0;
}

/* FORM FIELDS */
.form-row #send_form {
	float: right;
}

.form-input, select{
	width:100%;
	box-sizing:border-box;
	border:1px solid #ccc;
	min-height:3.0em;
	resize:vertical;
	padding:0 4%;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	 -webkit-appearance: none;
}


.form-row .col1, .form-row .col2, .form-row .col3, .form-row .col4, .form-row .col5, .form-row .col6, .form-row .col7, .form-row .col8, .form-row .col9, .form-row .col10, .form-row .col11, .form-row .col12 {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    position: relative;
}

.form-row .col12 {
    width: 100%
}

.form-row .col11 {
    width: 91.66666667%
}

.form-row .col10 {
    width: 83.33333333%
}

.form-row .col9 {
    width: 75%
}

.form-row .col8 {
    width: 66.66666667%
}

.form-row .col7 {
    width: 58.33333333%
}

.form-row .col6 {
    width: 50%
}

.form-row .col5 {
    width: 41.66666667%
}

.form-row .col4 {
    width: 33.33333333%
}

.form-row .col3 {
    width: 25%
}

.form-row .col2 {
    width: 16.66666667%
}

.form-row .col1 {
    width: 8.33333333%
}
.form-input,
textarea.form-input{
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
}
textarea.form-input{
	min-height:100px;
	padding: 5px 4%;
}

select
{
	box-sizing:border-box;
	border:1px solid #ccc;
	min-height:3.0em;
	height:3.0em;
	resize:vertical;
	padding:0 4%;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	 -webkit-appearance: select;
	width: 100%;
}
/* OTHER */
.form-arterisk{
	color:red;
	font:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:12px
}

/* THANKYOU */
.thanks
{
	border: 3px solid #9aca74;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;
	width:100%;
	margin:1.0em 0 1.0em 0;
	box-sizing: border-box;
	padding: 2.0em 2% 2.0em 2%;
	
}
.thanks_l
{
	float: left;
	width:20%;
}
.thanks_r
{
	float:left;
	width: 75%;
	padding-top:2%;
}
.thanks h2
{
	font-size: 1.5em;
	margin-bottom:0.2em;
}
.thanks p
{
	font-size:16px;
	margin-bottom:0.5em;
}
.thanks .fa
{
	color: #9aca74;
	font-size:6em;
}
@media (max-width: 895px) {
	.form-row .col-4{
		width: 40%;
	}
	.form-row .col-4-3{
		width: 60%;
	}
}

@media (max-width: 670px) {
	
	.form-row{
		margin:0;	
	}
	.form-row .col-1,
	.form-row .col-2,
	.form-row .col-3,
	.form-row .col-4,
	.form-row .col-4-3{
		float:none;
		width:100%;	
	}
		
}

.errorbox
{
	border: 3px solid red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;
	width:100%;
	margin:1.0em 0 1.0em 0;
	box-sizing: border-box;
	padding: 2.0em 2% 2.0em 2%;
	
}

.error-form {
	border: 1px solid red;
}

#copy_field {
	margin: 0;
}