<form method="post" class="custom_form required-form" action="?mail=send" onsubmit="return validateform(this);">
<div class='form' id='form-2'>
<div class='form-row'>
<div class='col-4'>Achternaam<span class='form-arterisk'>*</span></div>
<div class='col-4-3'><input class='required form-input' value='' type='text' name='achternaam-8'/></div>
</div>
<div class='form-row'>
<div class='col-4'>Naam<span class='form-arterisk'>*</span></div>
<div class='col-4-3'><input class='required form-input' value='' type='text' name='naam-5'/></div>
</div>
<div class='form-row'>
<div class='col-4'>Geboortedatum<span class='form-arterisk'>*</span></div>
<div class='col-4-3'><input type="date" name="geboortedatum-9"></div>
<!--<select name='geboortedatum-9-day' class='day'>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
<select name='geboortedatum-9-month' class='month'>
<option value="01">Januari</option>
<option value="02">Februari</option>
<option value="03">Maart</option>
<option value="04">April</option>
<option value="05">Mei</option>
<option value="06">Juni</option>
<option value="07">Juli</option>
<option value="08">Augustus</option>
<option value="09">September</option>
<option value="10">Oktober</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
<select name='geboortedatum-9-year' class='year'>
<option value='1947'>1947</option>
<option value='1948'>1948</option>
<option value='1949'>1949</option>
<option value='1950'>1950</option>
<option value='1951'>1951</option>
<option value='1952'>1952</option>
<option value='1953'>1953</option>
<option value='1954'>1954</option>
<option value='1955'>1955</option>
<option value='1956'>1956</option>
<option value='1957'>1957</option>
<option value='1958'>1958</option>
<option value='1959'>1959</option>
<option value='1960'>1960</option>
<option value='1961'>1961</option>
<option value='1962'>1962</option>
<option value='1963'>1963</option>
<option value='1964'>1964</option>
<option value='1965'>1965</option>
<option value='1966'>1966</option>
<option value='1967'>1967</option>
<option value='1968'>1968</option>
<option value='1969'>1969</option>
<option value='1970'>1970</option>
<option value='1971'>1971</option>
<option value='1972'>1972</option>
<option value='1973'>1973</option>
<option value='1974'>1974</option>
<option value='1975'>1975</option>
<option value='1976'>1976</option>
<option value='1977'>1977</option>
<option value='1978'>1978</option>
<option value='1979'>1979</option>
<option value='1980'>1980</option>
<option value='1981'>1981</option>
<option value='1982'>1982</option>
<option value='1983'>1983</option>
<option value='1984'>1984</option>
<option value='1985'>1985</option>
<option value='1986'>1986</option>
<option value='1987'>1987</option>
<option value='1988'>1988</option>
<option value='1989'>1989</option>
<option value='1990'>1990</option>
<option value='1991'>1991</option>
<option value='1992'>1992</option>
<option value='1993'>1993</option>
<option value='1994'>1994</option>
<option value='1995'>1995</option>
<option value='1996'>1996</option>
<option value='1997'>1997</option>
<option value='1998'>1998</option>
<option value='1999'>1999</option>
<option value='2000'>2000</option>
<option value='2001'>2001</option>
<option value='2002'>2002</option>
<option value='2003'>2003</option>
<option value='2004'>2004</option>
<option value='2005'>2005</option>
<option value='2006'>2006</option>
<option value='2007'>2007</option>
<option value='2008'>2008</option>
<option value='2009'>2009</option>
<option value='2010'>2010</option>
<option value='2011'>2011</option>
<option value='2012'>2012</option>
<option value='2013'>2013</option>
<option value='2014'>2014</option>
<option value='2015'>2015</option>
<option value='2016'>2016</option>
<option value='2017'>2017</option>
<option value='2018'>2018</option>
<option value='2019'>2019</option>
<option value='2020'>2020</option>

</select>
</tr>
</div>-->
<div class='form-row'>
	<div class='col-4'>Geslacht<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'>
	<input id='geslacht-10-0' type='radio' value='Heer' name='geslacht-10[]'/><label>Heer  </label><input id='geslacht-10-1' type='radio' value=' Mevrouw' name='geslacht-10[]'/><label> Mevrouw</label>
</div>
</div>
<div class='form-row'>
	<div class='col-4'>Straatnaam<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='straatnaam-11'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Huisnummer<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='huisnummer-12'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Postcode<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='postcode-13'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Woonplaats<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='woonplaats-14'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Mobiel</div>
	<div class='col-4-3'><input class="form-input" value='' type='text' name='mobiel-15'/></div>
	</div>
<div class='form-row'>
	<div class='col-4'>Telefoonnummer</div>
	<div class='col-4-3'><input id='phone_field' class="form-input" value='' type='text' name='telefoonnummer-6'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>E-mailadres<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input id='email_field' class='required form-input' value='' type='text' name='emailadres-7'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Verzekering<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'>
	<select name='verzekering-16'>
		<option value=' Selecteer'/>Selecteer</option>
		<option value=' Interpolis'/>Interpolis</option>
		<option value=' Menzis Zorgverzekeraar'/> Menzis Zorgverzekeraar</option>
		<option value=' Zilveren Kruis Achmea'/> Zilveren Kruis Achmea</option>
		<option value=' ONVZ'/> ONVZ</option>
		<option value=' VGZ'/> VGZ</option>
		<option value=' VVAA'/> VVAA</option>
		<option value=' Achmea'/> Achmea</option>
		<option value=' Aegon Ziektenkosten'/> Aegon Ziektenkosten</option>
		<option value=' Agis'/> Agis</option>
		<option value=' AZIVO'/> AZIVO</option>
		<option value=' Pro life'/> Pro life</option>
		<option value=' OZF'/> OZF</option>
		<option value=' De Goudse'/> De Goudse</option>
		<option value=' De Friesland zorgverzekeraar'/> De Friesland zorgverzekeraar</option>
		<option value=' De Amersfoortse'/> De Amersfoortse</option>
		<option value=' FBTO'/> FBTO</option>
		<option value=' Groeneland Achmea'/> Groeneland Achmea</option>
		<option value=' Topzorg'/> Topzorg</option>
		<option value=' Anoz'/> Anoz</option>
		<option value=' Nederzorg'/> Nederzorg</option>
		<option value=' CZ groep'/> CZ groep</option>
		<option value=' IZA'/> IZA</option>
		<option value=' Ohra'/> Ohra</option>
		<option value=' Salland Zorgverzekeringen'/> Salland Zorgverzekeringen</option>
		<option value=' Nationale Nederlanden'/> Nationale Nederlanden</option>
		<option value=' Trias'/> Trias</option>
		<option value=' Unive Zorg'/> Unive Zorg</option>
		<option value=' DVZ'/> DVZ</option>
		<option value=' Zorg en Zekerheid'/> Zorg en Zekerheid</option>
</select>
</div>
</div>
<div class='form-row'>
	<div class='col-4'>Polisnummer<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='polisnummer-17'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>BSN Nummer<span class='form-arterisk'>*</span></div>
	<div class='col-4-3'><input class='required form-input' value='' type='text' name='bsn-nummer-18'/></div>
</div>
<div class='form-row'>
	<div class='col-4'>Opmerkigen</div>
	<div class='col-4-3'><textarea class="form-input" name='opmerkigen-19'></textarea></div>
</div>
</div>
</div>
</form>