<tr class='form_row rv-contact'>
<td colspan='2'>
<div class="block">
Naam <span class="arterisk">*</span>
<input  value='' class="required" type='text' name='naam-1'/>
</div>
<div class="block">
E-mailadres <span class="arterisk">*</span>
<input  value='' class="required" type='text' name='emailadres-2'/>
</div>
<div class="block last-child">
Telefoonnummer <span class="arterisk">*</span>
<input  value='' class="required" type='text' name='telefoonnummer-3'/>
</div>
</tr>
<tr class='form_row rv-contact'>
<td colspan='2'>
Bericht
<textarea  name='bericht-4'></textarea></td>
</tr>